<html>
	<head>
		<title><%= title %></title>
		<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
	</head>
	<body>
		<form method="post">
			<div>
				<span>Username: </span>
				<input type="text" name="username" id="editUsername"></input>
			</div>
			<div>
				<span>Review: </span>
				<textarea name="reviewText" id="editReviewText" rows=20></textarea>
			</div>
			<div>
				<span>Song: </span>
				<input type="text" name="song" id="editSong"></input>
			</div>
			<input type="submit" value="Send"></input>
		</form>
	</body>
</html>


